* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
nav {
  text-decoration: none;
}

.header {
  background-color: antiquewhite;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 25px;
}
.mainblock {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: burlywood;
}
.info1 {
  display: flex;
  flex-wrap: wrap;
  font-size: 1em;
  width: 450px;
  padding: 15px;
}
.team {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.team_pic {
  display: flex;
  flex-direction: column;

  padding: 1em;
}
img {
  max-width: 100%;
  height: auto;
}

.img1 {
  max-height: 500px;
}
.text1 {
  max-width: 100%;
  font-size: 1em;
  padding-top: 5px;
}
.img2 {
  max-height: 550px;
}
